<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<!--custom processor -->
				<processor type="GraphQLTracker.Pipelines.GraphQLItemTracker, GraphQLTracker" resolve="true" patch:before="processor[contains(@type, 'ItemResolver')]"/>
			</httpRequestBegin>
			   <!-- warning Message -->
			<getContentEditorWarnings>
				<processor type="GraphQLTracker.Pipelines.GraphQLWarningMessage, GraphQLTracker" />
			</getContentEditorWarnings>
		</pipelines>
	</sitecore>
</configuration>